*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
test/app/src/main/res/drawable-xxxhdpi/ic_delete_forever.png
test/app/src/main/res/drawable-xxxhdpi/ic_call.png
test/app/src/main/res/drawable-xxxhdpi/ic_call.png
test/app/src/main/res/drawable-xxxhdpi/ic_call.png
test/app/src/main/res/drawable-xxxhdpi/ic_delete_forever.png
test/app/src/main/res/layout/activity_shoplist.xml
test/app/src/main/res/layout/activity_shoplist.xml
Dvp_ListActivity/.idea/caches/build_file_checksums.ser
